{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Banco Grigotts</title>
{% endblock %}

{% block body %}

<main>
    <a href="{% url 'home' %}">🏠 Volver al Callejón Diagon</a>

    <!-- Bank info -->
    <div>
        <h2>Bienvenido, {{ user.full_name }} al Banco Gringotts.</h2>
        <p>Lugar más seguro de todo el mundo mágico.</p>

        <!-- Account info -->
        <ul>
            <li><strong>No. de bóveda:</strong> {{ account.pk }}</li>
            <li><strong>Saldo:</strong> {{ account.balance }} galeones</li>

            <li><strong>Estado de la cuenta:</strong>
                {% if account.is_frozen %}
                <span style="color:red;">Congelada</span>
                <ul>
                    <li>Para descongelar una cuenta deben comprar un artículo del Callejón Diagon.</li>
                    <li>Mientras la cuenta permanezca congelada se descontará el 5% de su saldo cada 3 días.</li>
                    <li>Las cuentas congeladas con galeones insuficientes para comprar un artículo solicitarán su descongelación al banco.</li>
                </ul>

                {% else %}
                <span style="color:green;">Activa</span>
                {% endif %}

                <p>Para evitar que una cuenta se congele te sugerimos comprar un artículo del Callejón Diagon cada copa.</p>
            </li>

            <!-- Account type info -->
            <li>Cuenta {{ account.get_account_type_display }}</li>
            {% if account.current_limit %}
            <li>Límite {{ account.current_limit }}</li>
            {% endif %}
            
            {% if account.premium_ex_date %}
            <li>Su cuenta expira el {{ account.premium_ex_date }}</li>
            {% endif %}
            <li>Transacciones disponibles esta semana: {{ account.weekly_transactions_left }}</li>
        </ul>

        {% if pending_loans %}
        <a href="{% url 'pending_loans' %}" class="btn btn-primary">Préstamos pendientes</a>
        {% endif %}
    </div>
</main>

<!-- Bank options -->
<div>
    <a href="{% url 'transactions' %}">Transferir galeones</a>

    <a href="{% url 'loans' %}">Pedir préstamo</a>
</div>


<!-- Premium purchase -->
<section>
    <h4>Cuentas premium</h4>
    <p>¿La cuenta standard limita tus abundantes ganancias? ¿Te ves obligado a gastar dinero en artículos que no quieres
        solo para no perder tu fortuna? ¿No tienes cómo alardear frente a la gente una suma mayor de 200 galeones? Todo
        eso se resuelve con una Cuenta Premium: la opción perfecta para mantener tu estatus, que cuenta con un nuevo límite de hasta 400 galeones.
    </p>
    
    <!-- Select duration-->
    <div>
        <form method="post">
            {% csrf_token %}
            <h5>Cuenta Premium por 3 meses</h5>
            <p>Precio: 80 galeones</p>
            <input type="hidden" name="account_duration" value="60">
            <button type="button" class="btn btn-primary" data-title="Confirmación de compra"
                data-message="¿Deseas comprar una cuenta Premium durante 3 meses por 80 galeones? (Esta acción es irreversible)"
                onclick="showConfirm(this)">
                Comprar
            </button>
        </form>

        <form method="post">
            {% csrf_token %}
            <h5>Cuenta Premium por 6 meses</h5>
            <p>Precio: 100 galeones</p>
            <input type="hidden" name="account_duration" value="90">
            <button type="button" class="btn btn-primary" data-title="Confirmación de compra"
                data-message="¿Deseas comprar una cuenta Premium durante 6 meses por 100 galeones? (Esta acción es irreversible)"
                onclick="showConfirm(this)">
                Comprar
            </button>
        </form>
    </div>
</section>

{% endblock %}

<!-- Modals templates -->
{% block modals %}
{{ block.super }}
{% if not working_hours %}
{% include "components/modal/working_hours_modal.html" %}
{% endif %}
{% endblock %}