{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Banco Grigotts</title>
{% endblock %}

{% block body %}

<!-- Loans -->
<main>
    <a href="{% url 'bank_view' %}">🏠 Volver al Banco Gringotts</a>

    <p>Recuerda que debes contar con dos codeudores para pedir un préstamo.</p>

    <!-- Codebtors -->
    <form action="POST">
        {% csrf_token %}

        <!-- 1st codebtor -->
        <div>
            <label for="user_a">Primer codeudor</label>
            <input class="form-control" list="user_a" placeholder="Selecciona un codeudor...">
            <datalist id="user_a">
                {% for a in accounts %}
                <option value="{{ a.id }}">{{ a.full_name }}</option>
                {% endfor %}
            </datalist>
        </div>

        <!-- 2nd codebtor -->
        <div>
            <label for="user_b">Segundo codeudor</label>
            <input class="form-control" list="user_b" placeholder="Selecciona un codeudor...">
            <datalist id="user_b">
                {% for a in accounts %}
                <option value="{{ a.id }}">{{ a.full_name }}</option>
                {% endfor %}
            </datalist>
        </div>

        <!-- Loan types -->
        <div>
            <h3>Préstamos<br>(cantidad -- devolución)</h3>

            <!-- Loan type 25 - 30 -->
            <div>
                <h4>25 galeones -- 30 galeones</h4>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="loan_type" value="0">
                    <button type="button" class="btn btn-primary" data-title="Confirmación de préstamo"
                        data-message="¿Deseas pedir un préstamo de 25 galeones a devolver 30? (Esta acción es irreversible)?"
                        onclick="showConfirm(this)">
                        Pedir préstamo
                    </button>
                </form>
            </div>

            <!-- Loan type 50 - 60 -->
            <div>
                <h4>50 galeones -- 60 galeones</h4>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="loan_type" value="0">
                    <button type="button" class="btn btn-primary" data-title="Confirmación de préstamo"
                        data-message="¿Deseas pedir un préstamo de 50 galeones a devolver 60? (Esta acción es irreversible)?"
                        onclick="showConfirm(this)">
                        Pedir préstamo
                    </button>
                </form>
            </div>

            <!-- Loan type 100 - 120 -->
            <div>
                <h4>100 galeones -- 120 galeones</h4>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="loan_type" value="0">
                    <button type="button" class="btn btn-primary" data-title="Confirmación de préstamo"
                        data-message="¿Deseas pedir un préstamo de 100 galeones a devolver 120? (Esta acción es irreversible)?"
                        onclick="showConfirm(this)">
                        Pedir préstamo
                    </button>
                </form>
            </div>
        </div>
    </form>
</main>

{% endblock %}

<!-- Modals templates -->
{% block modals %}
{{ block.super }}
{% endblock %}

<!-- Modals JS -->
{% block scripts %}
<script src="{% static 'js/dropBox.js' %}"></script>
<script src="{% static 'js/confirmLogic.js' %}"></script>
{% endblock %}