{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Banco Gringotts</title>
<link rel="stylesheet" href="{% static 'css/bank_operations.css' %}">
{% endblock %}

{% block body %}
{% include "components/nav.html" with url_link='bank' url_name="Banco Gringotts" %}

<main class="main-content">
    <div class="form-container">
        <h2 class="form-title">Realizar transferencia</h2>

        <form method="post" action="{% url 'transactions' %}" id="transfer-form">
            {% csrf_token %}

            <div class="form-group">
                <label for="receiver" class="form-label">Enviar a:</label>
                <input list="accounts" name="receiver_id" id="receiver" class="form-input form-select" required>
                <datalist id="accounts">
                    {% for a in accounts %}
                    <option value="{{ a.pk }}">{{ a.user.full_name }}</option>
                    {% endfor %}
                </datalist>
            </div>

            <div class="form-group">
                <label for="amount" class="form-label">Cantidad de galeones:</label>
                <input type="number" name="amount" id="amount" class="form-input" required>
            </div>

            <button type="button" class="btn btn-primary" 
                data-title="Confirmación de transferencia"
                onclick="return prepareConfirm(this)">
                Transferir
            </button>
        </form>

        <div class="transaction-rules">
            <ul class="rules-list">
                <li>Mínimo de transferencia 20 galeones.</li>
                <li>Debes tener en tu cuenta la cantidad total a transferir +5% de comisión</li>
                <li>Solo puedes realizar una transacción a la semana, tanto como remitente o como receptor</li>
                <li>No se permiten transferencias si la cuenta está congelada.</li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% include "components/footer.html" %}
{% endblock %}

<!-- Modals templates -->
{% block modals %}
{{ block.super }}
{% endblock %}

{% block scripts %}
<script>
    function prepareConfirm(button) {
        const receiverInput = document.getElementById("receiver");
        const amountInput = document.getElementById("amount");

        const receiverName = receiverInput.value;
        const amount = amountInput.value;

        button.setAttribute("data-message",
            `¿Deseas transferir ${amount} galeones a la cuenta Nº${receiverName}? (Esta acción es irreversible)`);
        showConfirm(button);
    }
</script>
{% endblock %}