{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Banquero</title>
<link rel="stylesheet" href="{% static 'css/banker_dashboard.css' %}">
{% endblock %}

{% block body_class %}dashboard-body{% endblock %}

{% block body %}

<nav role="navigation" class="dashboard-nav">
    <div class="d-flex align-items-center gap-2">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">☰</a>
        <h2 class="main-title mb-0">Dashboard</h2>
    </div>

    <div class="collapse mb-2" id="collapseExample">
        <div class="card card-body nav nav-underline">
            <div class="nav-item">
                <a href="{% url 'transactions_list' %}" class="nav-link dark-link" aria-current="page"">Transacciones</a>
            </div>

            <div class="nav-item">
                <a href="{% url 'loans_list' %}" class="nav-link dark-link">Préstamos</a>
            </div>

            <!-- Expiraciones -->
            <form class="nav-item" method="POST" action="{% url 'update_expires' %}">
                {% csrf_token %}
                <button class="btn btn-primary btn-logout btn-small" type="submit">Actualizar expiraciones</button>
            </form>

            <!-- Logout -->
            <form class="nav-item" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="button" class="btn btn-secondary btn-logout btn-small" data-title="Confirmación de cierre de sesión"
                    data-message="¿Está seguro de que desea cerrar la sesión activa?" onclick="showConfirm(this)">
                    Cerrar sesión
                </button>
            </form>
        </div>
    </div>    
</nav>

<!-- Banker dashboard -->
<main>
    <!-- Filters -->
    <form method="GET" class="filters-form">
        <input class="form-input" type="text" name="id" placeholder="Filtrar por ID" value="{{ request.GET.id }}">
        <input class="form-input" type="text" name="username" placeholder="Filtrar por Usuario" value="{{ request.GET.username }}">
        <input class="form-input" type="text" name="full_name" placeholder="Filtrar por Nombre mágico" value="{{ request.GET.full_name }}">
        <input class="form-input" type="text" name="house" placeholder="Filtrar por Casa" value="{{ request.GET.house }}">
        
        <div class="mt-1">
            <button type="submit" class="btn btn-primary btn-small">Filtrar</button>
            <a href="{% url 'banker_dashboard' %}" class="btn btn-secondary btn-small">
                Limpiar filtros
            </a>
        </div>
    </form>

    <hr class="line" style="border-color:grey">

    <!-- Bulk options -->
    <form method="post" class="accounts-form">
        {% csrf_token %}

        <!-- Bulk options -->
        <div class="d-flex mb-3">
            <input class="form-input" type="number" name="amount" placeholder="Cantidad" style="max-width: 150px;">

            <button type="submit" name="action" value="bulk_add" class="btn btn-primary ms-2  btn-small">
                Agregar
            </button>

            <button type="submit" name="action" value="bulk_delete" class="btn btn-warning ms-auto btn-small">
                Eliminar
            </button>
        </div>

        <!-- Accounts -->
        <section class="accounts-section">
            {% for acc in accounts %}
            <div class="account-card">

                <label class="section-title">
                    <input type="checkbox" name="selected_accounts" value="{{ acc.pk }}"> <i class="bi bi-bank"></i> {{ acc.pk }}: {{ acc.user.full_name }}
                </label>
                
                <div class="d-flex align-items-center justify-content-between">
                    <!-- Status -->
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="is_frozen_{{ acc.pk }}"
                        {% if not acc.is_frozen %}checked{% endif %}>
                        
                        <label class="form-check-label">
                        {% if acc.is_frozen %}
                            <span style="color:var(--red)">Congelada</span>
                        {% else %}
                            <span style="color:var(--green)">Activa</span>
                        {% endif %}
                        </label>
                    </div>

                    <!-- Balance -->
                    <div>
                        <input class="balance-input form-input text-end" type="number" name="balance_{{ acc.pk }}" value="{{ acc.balance }}">🪙
                    </div>
                </div>

                <div class="d-flex gap-1">
                    <!-- House -->
                    <select class="form-select" name="house_{{ acc.pk }}">
                        <option value="ravenclaw" {% if acc.user.house == "ravenclaw" %}selected{% endif %}>Ravenclaw 💙
                        </option>
                        <option value="gryffindor" {% if acc.user.house == "gryffindor" %}selected{% endif %}>Gryffindor ❤️
                        </option>
                        <option value="hufflepuff" {% if acc.user.house == "hufflepuff" %}selected{% endif %}>Hufflepuff 💛
                        </option>
                        <option value="slytherin" {% if acc.user.house == "slytherin" %}selected{% endif %}>Slytherin 💚
                        </option>
                    </select>

                    <!-- Account type -->
                    <select class="form-select" name="account_type_{{ acc.pk }}">
                        <option value="standard" {% if acc.account_type == "standard" %}selected{% endif %}>Standard
                        </option>
                        <option value="premium" {% if acc.account_type == "premium" %}selected{% endif %}>Premium</option>
                        <option value="vip" {% if acc.account_type == "vip" %}selected{% endif %}>VIP</option>
                    </select>

                    {% if acc.account_type == 'premium' %}   
                    <!-- Premium duration -->  
                    <select style="width: min-content;" class="form-select" name="duration_days_{{ acc.pk }}">
                        <option value=90 {% if acc.duration_days == 90 %}selected{% endif %}>3m</option>
                        <option value=180 {% if acc.duration_days == 180 %}selected{% endif %}>6m</option>
                    </select>
                    {% endif %}
                </div>

                {% if acc.current_limit or acc.premium_ex_date %}
                <div class="d-flex justify-content-between" style="height: 30px">
                    <!-- Limit -->
                    {% if acc.current_limit %}
                    <p>Límite: {{ acc.current_limit }}</p>
                    {% endif %}

                    <!-- Premium expiration -->
                    {% if acc.premium_ex_date %}
                    <p>Vence: {{ acc.premium_ex_date }}</p>
                    {% endif %}
                </div>
                {% endif %}

                <button type="submit" name="action" value="update_{{ acc.pk }}" class="mt-1 btn btn-primary">
                    Actualizar
                </button>
            </div>
            {% endfor %}
        </section>
    </form>
</main>

{% endblock %}

<!-- Modals templates -->
{% block modals %}
{{ block.super }}
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll("input[name='selected_accounts']");
        checkboxes.forEach(cb => {
            cb.addEventListener("change", function () {
                const row = cb.closest("tr");
                if (cb.checked) {
                    row.classList.add("selected-row");
                } else {
                    row.classList.remove("selected-row");
                }
            });
        });
    });
</script>
{% endblock %}