{% extends 'base.html' %}

{% block content %}
<div class="card shadow border-0 mx-auto mt-2" style="max-width: 500px;">
    <div class="card-body p-4 text-dark">
        <h3 class="text-center fw-bold mb-4">Nueva Contraseña</h3>
        
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-3">
                    <label class="form-label fw-bold">{{ field.label }}</label>
                    {{ field }}

                    {% for error in field.errors %}
                        <p class="text-danger small mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-success w-100 py-2 fw-bold mt-2">
                Guardar nueva contraseña
            </button>
        </form>
    </div>
</div>
{% endblock %}