{% if purchase_message %}
<div id="purchaseContent" style="display:none;">
    <pre class="mt-2">{{ purchase_message }}</pre>
    <p>Toma captura de este comprobante como prueba de tu compra.</p>
</div>
{% endif %}

{% if messages %}
<div id="errorContent" style="display:none;">
    {% for message in messages %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div class="modal fade" id="purchaseFeedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="feedbackModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="feedbackModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
	    const modal = new bootstrap.Modal(
	    	document.getElementById("purchaseFeedbackModal")
	    );
	    const body = document.getElementById("feedbackModalBody");
	    const title = document.getElementById("feedbackModalLabel");
	    const header = document.querySelector(
	    	"#purchaseFeedbackModal .modal-header"
	    );
        
	    if (document.getElementById("purchaseContent")) {
	    	body.innerHTML = document.getElementById("purchaseContent").innerHTML;
	    	title.textContent = "Compra exitosa";
        
	    	header.classList.remove("bg-danger", "text-white");
	    	header.classList.add("bg-success", "text-white");
        
	    	modal.show();
	    } else if (document.getElementById("errorContent")) {
	    	body.innerHTML = document.getElementById("errorContent").innerHTML;
	    	title.textContent = "Error en la compra";
        
	    	header.classList.remove("bg-success", "text-white");
	    	header.classList.add("bg-danger", "text-white");
        
	    	modal.show();
	    }
    });
</script>