.bank-main {
    max-width: 600px;
    margin: 20px auto;
    min-height: 100vh;
    padding: 0 25px;
}

.bank-info {
    margin-bottom: 20px;
}

.welcome-title {
    color: var(--dark-purple);
    margin-bottom: 5px;
    font-size: 1.6rem;
}
.welcome-subtitle {
    margin-top: 0;
    font-size: 1.1rem;
}

/* Advertencias y Operaciones */
.frozen-details {
    font-size: 0.9rem;
    color: var(--red);
}

.warning-text {
    font-size: 1rem;
    line-height: 1.3;
    padding-bottom: 10px;
}

.frozen-details,
.warning-text {
    border-bottom: 1px solid var(--grey);
}

.section-title {
    color: var(--dark-purple);
    margin-bottom: 10px;
}

.operations-section {
    margin-top: 10px;
}

.trans-info {
    font-size: 1rem;
    margin-bottom: 15px;
}

.actions-group {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.actions-group .btn {
    font-size: 0.9rem;
}

/* Mercado Premium */
.premium-market {
    padding: 20px 0;
}
.market-desc {
    font-size: 0.9rem;
    color: var(--black);
    margin-bottom: 20px;
}

.offer-card {
    background-color: var(--light-purple-dim);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.offer-title {
    margin: 0;
    color: var(--dark-purple);
}
.offer-subtitle {
    font-size: 0.85rem;
    margin: 5px 0;
}
.offer-duration {
    color: var(--dark-purple);
    font-weight: bold;
    border-bottom: 1px solid var(--dark-purple);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.offer-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-purple);
}
