.bank-main {
    max-width: 600px;
    margin: 20px auto;
    min-height: 100vh;
    padding: 0 25px;
}

.bank-info {
    margin-bottom: 20px;
}

.welcome-title {
    color: var(--dark-purple);
    margin-bottom: 5px;
    font-size: 1.6rem;
}
.welcome-subtitle {
    margin-top: 0;
    font-size: 0.95rem;
}

/* Advertencias y Operaciones */
.warning-text {
    font-size: 0.85rem;
    line-height: 1.4;
    border-bottom: 1px solid var(--white);
    padding-bottom: 15px;
}
.section-title {
    color: var(--dark-purple);
    margin-bottom: 10px;
}
.trans-info {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.actions-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* Mercado Premium */
.premium-market {
    padding: 20px 0;
}
.market-desc {
    font-size: 0.85rem;
    color: #444;
    margin-bottom: 20px;
}

.offer-card {
    background-color: var(--light-purple);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid var(--dark-purple);
}

.offer-title {
    margin: 0;
    color: var(--dark-purple);
}
.offer-subtitle {
    font-size: 0.8rem;
    margin: 5px 0;
}
.offer-duration {
    color: var(--dark-purple);
    font-weight: bold;
    border-bottom: 1px solid var(--white);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.offer-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-purple);
}