/* --- INPUTS --- */

.form-label {
    display: block;
    font-size: 0.9rem;
    color: var(--dark-purple);
    margin-bottom: 8px;
    font-weight: bold;
}

select,
datalist,
.form-select {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-image: none !important;

    background: var(--white)
        url("data:image/svg+xml;utf8,<svg fill='%23333' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>")
        no-repeat right 0.75em center !important;
}

.form-input,
datalist {
    font-family: inherit !important;
    font-size: 1rem !important;
    padding: 0.6rem 1.3rem !important;
    border: none !important;
    border-radius: 24px !important;
    background-color: var(--grey) !important;
    width: 100% !important;
    box-sizing: border-box !important;
    outline-offset: 2px !important;
    outline-color: transparent !important;
    outline-style: solid !important;
    color: var(--black) !important;
}

.form-input:hover,
datalist:focus {
    outline: none;
    border: none;
    box-shadow: none;
    outline-color: var(--strong-purple) !important;
}

/* --- BOTONES --- */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50px;
    border: none;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    text-decoration: none;
    min-width: 90px;
    max-width: max-content;
    text-align: center;
}

.btn-primary {
    background-color: var(--light-purple);
    color: var(--dark-purple);
}
.btn-primary:hover {
    background-color: var(--dark-purple);
    color: var(--white);
}

.btn-secondary {
    background-color: var(--grey);
    color: var(--dark-purple-dim);
}
.btn-secondary:hover {
    background-color: var(--dark-purple-dim);
    color: var(--grey);
}

.btn-success {
    background-color: var(--green);
    color: var(--white);
}
.btn-success:hover {
    background-color: var(--dark-green);
}

.btn-warning {
    background-color: var(--red);
    color: var(--white);
}
.btn-warning:hover {
    background-color: var(--dark-red);
}

/* --- ENLACES --- */
a {
    transition: color 0.3s ease;
    font-weight: 500;
}

.light-link {
    /* para footer */
    color: var(--light-purple);
    text-decoration: none;
}
.light-link:hover {
    color: var(--strong-purple);
    text-decoration: underline;
}

.dark-link {
    color: var(--strong-purple);
    text-decoration: none;
}
.dark-link:hover {
    color: var(--dark-purple);
    text-decoration: underline;
}
