.modal-content {
    border-radius: 20px;
}

.modal-header {
    background-color: var(--dark-purple) !important;
    color: var(--white);
}

.modal-title {
    color: var(--white);
    font-size: 1rem;
}