body {
    background-color: #545454;
}

.snow {
    background-image: url(../imgs/snow/snowball.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    filter: blur(1.5px);
    pointer-events: none;
}

.little {
    background-size: 150px 135px;
    background-position: 0px -100px;
    animation: snow1 14s infinite linear;
}

.normal {
    animation: snow2 12s linear infinite;
}

.big {
    background-size: 600px 540px;
    background-position: 0px 90px;
    animation: snow3 10s linear infinite;
}

.giant {
    background-size: 900px 810px;
    background-position: 150px 100px;
    animation: snow4 8s linear infinite;
}

body.amalia {
    background-color: #855382;
}

body.amalia .snow {
    filter: blur(1.5px) drop-shadow(0 0 5px purple);
}

@keyframes snow1 {
    0% { background-position: 0px -100px; }
    100% { background-position: 150px 35px; }
}

@keyframes snow2 {
    0% { background-position: 0px 0px; }
    100% { background-position: 300px 270px; }
}

@keyframes snow3 {
    0% { background-position: 0px 90px; }
    100% { background-position: 600px 630px; }
}

@keyframes snow4 {
    0% { background-position: 150px 100px; }
    100% { background-position: 1050px 910px; }
}
