body:not(.dashboard-body) {
    max-width: 900px;
    margin: auto;
}

table table tr.selected-row td,
table table tr:hover td,
table table tr:active td {
    background-color: #d0ebff !important;
}

table:not(:has(table)) tr.selected-row td,
table:not(:has(table)) tr:hover td,
table:not(:has(table)) tr:active td {
    background-color: #d0ebff !important;
}