.store-info {
    margin-bottom: 20px;
}

.store-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--dark-purple);
}

/* Product Cards */
.products-container {
    max-width: 600px;
    margin: 20px auto;
    margin-bottom: 10px;
    padding: 0 25px;
}

.product-card {
    background-color: var(--light-purple-dim);
    border-radius: 20px;
    display: flex;
    margin-bottom: 25px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

/* Left - image, price, stock */
.card-left {
    flex: 0 0 100px;
    text-align: center;
    margin-right: 10px;
}

.product-image-placeholder {
    background-color: var(--grey);
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.price-tag {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--dark-purple);
}

.stock-status {
    margin: auto;
    margin-top: 10px;
}

.status-available {
    color: var(--green);
    font-size: 0.9rem;
}

/* Right - users, name, desc, stats, actions */
.card-right {
    max-width: 65%;
}

.card-header-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
}

.product-name {
    color: var(--dark-purple);
    font-size: 1rem;
    font-weight: bold;
}

.btn-ver-usuarios {
    background: none;
    border: none;
    color: var(--dark-purple-dim);
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;
}

.product-desc {
    color: var(--black);
    font-size: 0.9rem;
    margin: 10px 0;
    line-height: 1.2;
}

.stats-row {
    color: var(--dark-purple);
    font-size: 0.9rem;
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
}

.action-row {
    display: flex;
    width: 100%;
    gap: 10px;
}

.empty-container {
    
}

.empty-container img {
    width: 100%;
}