{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<title>Callejón Diagon</title>
{% endblock %} 

{% block body %} 

<!-- Upper button (Login or Profile) -->
<div class="mb-3">
    {% if request.user.is_authenticated %}
    <a href="{% url 'profile' %}" class="btn btn-primary">Perfil</a>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
    {% endif %}
</div>

<!-- Diagon Alley -->
<main class="container my-4">

    <!-- Usamos row + col para responsividad -->
    <div class="row justify-content-center">

        <!-- Gringotts -->
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card h-100">
                <img src="{% static 'imgs/bank.jpg' %}" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Banco Gringotts</h5>
                    <a href="{% url 'bank_view' %}" class="btn btn-primary w-100">Entrar</a>
                </div>
            </div>
        </div>

        <!-- Stores -->
        {% for store in stores %}
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ store.image_url }}" class="card-img-top" alt="Imagen de {{store.name}}" />
                <div class="card-body">
                    <h5 class="card-title">{{store.name}}</h5>
                    <a href="{% url 'store' store.id %}" class="btn btn-primary w-100">Entrar</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</main>

{% endblock %}

<!-- Modals templates -->
{% block modals %}
{{ block.super }}
{% endblock %}