/* Contenedor principal del formulario */
.form-container {
    max-width: 500px;
    margin: 40px 20px;
    text-align: left;
}

.form-title {
    color: var(--dark-purple);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 20px;
}

.form-actions {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.error-text {
    color: var(--red);
    font-size: 0.8rem;
    margin-top: 5px;
    padding-left: 15px;
}

.alert-error {
    border: 1px solid var(--red);
    padding: 10px;
    color: var(--red);
    border-radius: 10px;
    margin-bottom: 20px;
}