<!-- Gift -->
<main class="container my-4">
    <h2>Regalar {{ product.name }}</h2>

    <form method="post" action="{% url 'gift' product.id %}">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">

        <label for="receiver">Regalar a:</label>
        <select name="receiver_id" id="receiver" class="form-select" required>
            <option value="" disabled selected>-- Selecciona un destinatario --</option>
            {% for a in accounts %}
                <option value="{{ a.user.id }}">{{ a.user.full_name }}</option>
            {% endfor %}
        </select>

        <button type="button"
                class="btn btn-primary mt-3"
                data-bs-dismiss="modal"
                data-title="Confirmación de regalo"
                data-message="¿Deseas regalar {{ product.name }}? (Se te cobrará una comisión de 5 galones)"
                onclick="showConfirm(this)">
            Regalar
        </button>
    </form>
</main>
