{% extends 'base.html' %} 
{% load static %}

{% block head %}
<title>Callejón Diagon</title>
{% endblock %} 

{% block body %}

<!-- Gift -->
<main class="container my-4">
    <h2>Regalar {{ product.name }}</h2>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">

        <label for="receiver">Regalar a:</label>
        <input list="accounts" name="sender_id" id="sender" required>
        <datalist id="accounts">
            {% for a in accounts %}
            <option value="{{ a.id }}">{{ a.user.full_name }}</option>
            {% endfor %}
        </datalist>

        <button type="button"
                class="btn btn-primary mt-3"
                data-title="Confirmación de regalo"
                data-message="¿Deseas regalar {{ product.name }}? (Se te cobrará una comisión de 5 galones)"
                onclick="showConfirm(this)">
            Regalar
        </button>
    </form>
</main>

{% endblock %}

{% block modals %}
{{ block.super }}
{% endblock %}
