{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>{{ store.name }}</title>
<link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock %}

{% block body %}
{% include "components/nav.html" with url_link='home' url_name="Callejón Diagon" %}

<!-- Store main -->
<main class="products-container">
    <!-- Store info -->
    <div class="store-info">
        <h1 class="store-title">{{ store.name }}</h1>
        <p class="store-description">{{ store.description }}<br>
            {% if store.name == "Quidditch Supplies" %}
            Usa el emoji 🧹 para representar escobas en actividades del colegio.
            {% elif store.name == "Ollivander's" %}
            Usa el emoji ➖ para representar varitas en actividades del colegio.
            {% endif %}
        </p>
    </div>

    <!-- Store products (warehouse) -->
    {% include "store_products.html" %}
</main>
{% endblock %}

{% block footer %}
{% include "components/footer.html" %}
{% endblock %}

<!-- Modals templates -->
{% block modals %}
{{ block.super }}
{% if not working_hours %}
{% include "components/modal/working_hours_modal.html" %}
{% endif %}
{% include "modal/product_owners_modal.html" %}
{% include "modal/gift_modal.html" %}
{% endblock %}