{% load static %}
{% block footer %}

<footer class="main-footer">
    <style>
        .main-footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: nowrap;
            background-color: var(--dark-purple);
            padding: 20px 8px;
            margin: 0 auto;
            width: 100%;
            max-width: 1200px;
            color: var(--white);
        }

        .footer-column {
            flex: 1;
            min-width: 0;
            margin: 0 10px;
        }

        .brand-column {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer-title {
            font-size: 0.8rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .footer-logo {
            max-width: 100px;
            height: auto;
            opacity: 0.9;
        }

        .links-column a {
            display: block;
            text-decoration: none;
            margin-bottom: 6px;
            font-size: 0.7rem;
            transition: color 0.3s ease;
        }
    </style>

    <!-- Image -->
    <div class="footer-column brand-column">
        <h2 class="footer-title">Callejón Diagon</h2>
        <img src="{% static 'imgs/Silueta Hogwarts Footer.png' %}" alt="Hogwarts Silhouette" class="footer-logo">
    </div>

    <!-- Links of interest -->
    <div class="footer-column links-column">
        <a class="light-link" href="{% url 'bank_view' %}">Banco Gringotts</a>
        <a class="light-link" href="{% url 'profile' %}">Perfil</a>
        <a class="light-link" href="{% url 'faq' %}">FAQ</a>
        <a class="light-link" href="{% url 'terms' %}">Términos de uso</a>
        <a class="light-link" href="https://chat.whatsapp.com/GjAylTHvlB5CLXZp9eanqm?mode=gi_t" target="_blank">TerrorTours</a>
    </div>

    <!-- Stores -->
    <div class="footer-column links-column">
        <a class="light-link"  href="{% url 'store' store_id=1 %}">Quidditch Supplies</a>
        <a class="light-link"  href="{% url 'store' store_id=2 %}">Magical Menagerie</a>
        <a class="light-link"  href="{% url 'store' store_id=3 %}">Ollivander's</a>
        <a class="light-link"  href="{% url 'store' store_id=4 %}">Sortilegios Weasley</a>
        <a class="light-link"  href="#">HoneyDukes</a>
    </div>
</footer>

{% endblock %}