{% load static %}
{% block nav %}

<style>
    .back-nav {
        display: flex;
        align-items: center;
        background-color: var(--dark-purple);
        color: ;
        padding: 30px 30px;
        text-align: center;
    }

    .back-link {
        color: var(--light-purple);
        text-decoration: none;
        display: block;
        text-align: left;
    }
</style>

<!-- Back to home -->
<nav class="back-nav">
    <a href="{% url url_link %}" class="back-link">❮ Volver al {{ url_name }}</a>
</nav>

{% endblock %}