<div class="inventory-card">
    <div class="card-content">
        <h5 class="item-name">{{ item.product.name }}</h5>
        <div class="d-flex gap-2">
            <div class="item-image-placeholder"></div>
            <div class="item-details">
                <p>Comprado en: <br><span>{{ item.pur_date|date:"M. d, Y" }}</span></p>

                {% if item.ex_date %}
                <p>Expira en: <br>
                    <span class="{% if item.is_near_ex %}text-warning{% endif %}">
                        {{ item.ex_date|date:"M. d, Y"}}
                    </span>
                </p>
                {% endif %}
            </div>
        </div>
        <p class="item-desc">{{ item.product.description }}</p>

        {% if item.uses %}
        <p class="item-uses">Usos: {{ item.uses }}</p>

        <form method="POST" class="mt-auto">
            {% csrf_token %}
            <input type="hidden" name="item_id" value="{{ item.id }}" />
            <button type="button" class="btn btn-primary" data-title="Confirmación de uso"
                data-message="¿Deseas usar el producto {{ item.product.name }} (Esta acción es irreversible)?"
                onclick="showConfirm(this)">
                Usar
            </button>
        </form>
        {% endif %}
    </div>
</div>