{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Perfil</title>
{% endblock %}

{% block body %}
{% include "components/nav.html" with url_link='home' url_name="Callejón Diagon" %}

<main>
    <button type="button" class="btn btn-primary position-relative" data-bs-toggle="modal"
        data-bs-target="#notificationsModal">
        Notificaciones
        {% if notifications %}
        <span
            class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">Notificaciones nuevas</span>
        </span>
        {% endif %}
    </button>

    <!-- Student data -->
    <section>
        <h2>{{ user.full_name }}</h2>
        <ul>
            <li><strong>Nombre de usuario:</strong> {{ user.username }}</li>
            <li><strong>Casa de Hogwarts:</strong> {{ user.house|title }}</li>
            {% if user.email %}
            <li><strong>Correo:</strong> {{ user.email }}</li>
            {% endif %}
            <br />

            {% include "components/account_card.html" %}
        </ul>

        {% if pending_loans %}
        <p>Revisa tus préstamos pendientes en el <a href="{% url 'bank_view' %}" class="btn btn-primary">Banco
                Gringotts</a>.</p>
        {% endif %}
    </section>

    <section>
        <!-- Profile options -->
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#houseStatsModal">
                Estadísticas de la casa
            </button>

            <a type="button" class="btn btn-primary" href="{% url 'edit_profile' %}">
                Editar perfil
            </a>

            <a type="button" class="btn btn-primary" href="{% url 'update_password' %}">
                Cambiar llave
            </a>
        </div>

        <!-- Logout -->
        <div>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="button" class="btn btn-secondary btn-logout" data-title="Confirmación de cierre de sesión"
                    data-message="¿Está seguro de que desea cerrar la sesión activa?" onclick="showConfirm(this)">
                    Cerrar sesión
                </button>
            </form>
        </div>
    </section>
</main>

<!-- Student inventory -->
<section class="container-fluid">
    <div>
        <h3>Mi inventario</h3>
        <form method="GET" class="d-flex" style="gap: 5px;">
            <input type="text" name="q" value="{{ query|default_if_none:'' }}" class="form-control"
                placeholder="Buscar producto...">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>

    {% if not wands and not brooms and not pets and not wheezes %}
    <p>No tienes artículos en tu inventario{% if query %} que coincidan con "{{ query }}"{% endif %}.</p>
    {% else %}

    <!-- Wands -->
    <div>
        <h4>Varitas</h4>
        <div class="d-flex flex-wrap gap-3">
            {% for item in wands %}
            {% include "profile/inventory_section.html" with item=item %}
            {% empty %}
            <p>No tienes varitas en tu inventario{% if query %} que coincidan con "{{ query }}"{% endif %}.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Brooms -->
    <div>
        <h4>Escobas</h4>
        <div class="d-flex flex-wrap gap-3">
            {% for item in brooms %}
            {% include "profile/inventory_section.html" with item=item %}
            {% empty %}
            <p>No tienes escobas en tu inventario{% if query %} que coincidan con "{{ query }}"{% endif %}.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Pets -->
    <div>
        <h4>Mascotas</h4>
        <div class="d-flex flex-wrap gap-3">
            {% for item in pets %}
            {% include "profile/inventory_section.html" with item=item %}
            {% empty %}
            <p>No has comprado ninguna mascota{% if query %} que coincida con "{{ query }}"{% endif %}.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Wheezes -->
    <div>
        <h4>Sortilegios</h4>
        <div class="d-flex flex-wrap gap-3">
            {% for item in wheezes %}
            {% include "profile/inventory_section.html" with item=item %}
            {% empty %}
            <p>No tienes artículos de Sortilegios Weasley en tu inventario
                {% if query %} que coincidan con "{{ query}}"{% endif %}.</p>
            {% endfor %}
        </div>
    </div>

    {% endif %}
</section>

{% endblock %}

{% block footer %}
{% include "components/footer.html" %}
{% endblock %}

<!-- Modals templates -->
{% block modals %}
{{ block.super }}
{% include "modal/notifications_modal.html" %}
{% include "modal/house_stats_modal.html" %}
{% include "modal/usage_modal.html" %}
{% endblock %}