{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Perfil</title>
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block body %}
{% include "components/nav.html" with url_link='home' url_name="Callejón Diagon" %}

<main class="profile-container">
    <!-- User info -->
    <div class="d-flex justify-content-between align-items-start mb-3">
        <div class="user-header">
            <h2 class="main-title">{{ user.full_name }}</h2>
            <p class="subtitle">Información de usuario</p>
        </div>

        <button type="button" class="btn btn-primary btn-not position-relative" data-bs-toggle="modal"
            data-bs-target="#notificationsModal">
            Notificaciones
            {% if notifications %}
            <span class="nots">
                <span class="visually-hidden">Notificaciones nuevas</span>
            </span>
            {% endif %}
        </button>
    </div>

    <section class="info-card-purple mb-4">
        <div class="info-row">
            <span class="label">Usuario:</span> <span class="value">{{ user.username }}</span>
        </div>
        <div class="info-row">
            <span class="label">Casa de Hogwarts:</span> <span class="value">{{ user.house|title }}</span>
        </div>

        {% if user.email %}
        <div class="info-row">
            <span class="label">Correo:</span> <span class="value">{{ user.email }}</span>
        </div>
        {% endif %}
    </section>

    <!-- Account info -->
    <section class="bank-section mb-4">
        <p class="subtitle">Información de la cuenta de banco</p>
        {% include "components/account_card.html" %}

        <div class="bank-info">
            {% if user.bank_account.current_limit %}
            <p class="limit-text mt-2">Límite actual: {{ user.bank_account.current_limit }}</p>
            {% endif %}
            <p class="limit-subtext">Para extender su límite acceda a las cuentas premium del
                <a href="{% url 'bank' %}" class="dark-link">Banco Gringotts</a>.
            </p>
        </div>
    </section>

    <section class="mb-4">
        <h3 class="section-title-purple">Operaciones</h3>
        <div class="row g-3">
            <div class="col-6">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#houseStatsModal">
                    Datos de la casa
                </button>
            </div>
            <div class="col-6"><a href="{% url 'edit_profile' %}" class="btn btn-primary">Editar perfil</a></div>
            <div class="col-6"><a href="{% url 'update_password' %}" class="btn btn-primary">Cambiar
                    contraseña</a></div>
            <div class="col-6">
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-message="¿Seguro de que deseas cerrar sesión?"
                        onclick="showConfirm(this)">Cerrar
                        sesión</button>
                </form>
            </div>
        </div>
    </section>

    <section class="inventory-section" id="inventory">
        <h3 class="section-title-purple">Mi inventario</h3>

        <!-- Search -->
        <form method="GET" class="search-container mb-4" action="{% url 'profile' %}#inventory">
            <input type="text" name="q" value="{{ query|default_if_none:'' }}"
                class="form-control search-input form-input" placeholder="Buscar producto...">
            <button type="submit" class="search-button">
                <i class="bi bi-search"></i>
            </button>
        </form>

        {% if not wands and not brooms and not pets and not wheezes %}
        <p>No tienes artículos en tu inventario{% if query %} que coincidan con "{{ query }}"{% endif %}.</p>
        {% else %}

        <!-- Wands -->
        <div class="category-block mb-4">
            <h4 class="category-title">Varitas</h4>
            <div class="inventory-grid d-flex flex-wrap gap-3">
                {% for item in wands %}
                {% include "profile/inventory_section.html" with item=item %}
                {% empty %}
                <p class="empty-text">No tienes varitas en tu inventario{% if query %} que coincidan con "{{ query }}"
                    {%endif %}.</p>
                {% endfor %}
            </div>
        </div>

        <!-- Brooms -->
        <div class="category-block mb-4">
            <h4 class="category-title">Escobas</h4>
            <div class="inventory-grid d-flex flex-wrap gap-3">
                {% for item in brooms %}
                {% include "profile/inventory_section.html" with item=item %}
                {% empty %}
                <p class="empty-text">No tienes escobas en tu inventario{% if query %} que coincidan con "{{ query }}"
                    {% endif %}.</p>
                {% endfor %}
            </div>
        </div>

        <!-- Pets -->
        <div class="category-block mb-4">
            <h4 class="category-title">Mascotas</h4>
            <div class="inventory-grid d-flex flex-wrap gap-3">
                {% for item in pets %}
                {% include "profile/inventory_section.html" with item=item %}
                {% empty %}
                <p class="empty-text">No has comprado ninguna mascota{% if query %} que coincida con "{{ query }}"
                    {% endif %}.
                </p>
                {% endfor %}
            </div>
        </div>

        <!-- Wheezes -->
        <div class="category-block mb-4">
            <h4 class="category-title">Sortilegios</h4>
            <div class="inventory-grid d-flex flex-wrap gap-3">
                {% for item in wheezes %}
                {% include "profile/inventory_section.html" with item=item %}
                {% empty %}
                <p class="empty-text">No tienes artículos de Sortilegios Weasley en tu inventario{% if query %} que
                    coincidan con "{{ query}}"
                    {% endif %}.
                </p>
                {% endfor %}
            </div>
        </div>

        {% endif %}
    </section>
</main>

{% endblock %}

{% block footer %}
{% include "components/footer.html" %}
{% endblock %}

<!-- Modals templates -->
{% block modals %}
{{ block.super }}
{% include "modal/notifications_modal.html" %}
{% include "modal/house_stats_modal.html" %}
{% include "modal/usage_modal.html" %}
{% endblock %}