<div class="modal fade" id="grantProductModal{{ product.pk }}" tabindex="-1" aria-labelledby="grantProductLabel{{ product.pk }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="{% url 'grant_product' product.pk %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="grantProductLabel{{ product.pk }}">
                        Otorgar {{ product.name }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p>Selecciona el usuario al que deseas otorgar este producto:</p>
                    <select name="user_id" class="form-select" required>
                        <option value="" selected disabled>Selecciona el usuario</option>
                        {% for user in users %}
                            <option value="{{ user.id }}">#{{ user.pk }} ({{ user.full_name }} - {{ user.house|title }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
