{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Profile</title>

{% endblock %}
{% block body %}

<main>
    <p><a href="{% url 'profile' %}">← Volver a mi perfil</a></p>
    
    <h2>Editar Perfil</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Nombre de usuario:</label>
        <input type="text" name="username" value="{{ user.username }}" required>
        <label>Nombre completo:</label>
        <input type="text" name="full_name" value="{{ user.full_name }}" required>
        <button type="button" class="btn btn-primary" data-title="Edición de perfil"
            data-message="¿Desea conservar los cambios?" onclick="showConfirm(this)">
            Guardar
        </button>
    </form>
</main>

{% include "components/confirm_modal.html" %}

{% if errores %}
<ul>
    {% for error in errores %}
    <li style="color:red;">{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<script src="{% static 'js/confirmLogic.js' %}"></script>

{% endblock %}