{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Profile</title>

{% endblock %}
{% block body %}

<a href="{% url 'home' %}">🏠 Volver al Callejón Diagon</a>

<main>
    {% if user.role == 'student' %}
    <h2>{{ user.full_name }}</h2>
    <ul>
        <li><strong>Nombre de usuario:</strong> {{ user.username }}</li>
        <li><strong>Casa de Hogwarts:</strong> {{ user.house|title }}</li>
        <br>
        <li><strong>No. de bóveda:</strong> {{ account.id }}</li>
        <li><strong>Saldo:</strong> {{ account.balance }} galeones</li>
        <li><strong>Estado de la cuenta:</strong>
            {% if account.is_frozen %}
            <span style="color:red;">Congelada</span>
            {% else %}
            <span style="color:green;">Activa</span>
            {% endif %}
        </li>
        <li>Cuenta {{ account.get_account_type_display }}</li>
        <li><strong>Límite:</strong> {{ account.limit }} galeones
            <p>Para extender su límite acceda a las cuentas premium del <a href="{% url 'bank_view' %}">Banco
                    Gringotts</a>
            </p>
        </li>
        {% if account.premium_ex_date %}
        <li>Su cuenta {{ account.account_type }} expira el {{ account.premium_ex_date }}</li>
        {% endif %}
    </ul>

    {% else %}

    <h3>Bienvenido(a) {{ user.username }}</h3>
    <h2>{{ user.full_name }}</h2>

    {% endif %}
</main>

<section class="container-fluid">
    <h3>Mi inventario:</h3>
    {% for item in inventory_items %}

    <div class="card container-fluid d-flex flex-wrap justify-content-center" style="max-width: 900px;">
        <div class="card-body">
            <h5 class="card-title">{{ item.product.name }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ item.product.description }}</h6>
            <p class="card-text">Comprado en: {{ item.pur_date }}</p>
            <p class="card-text">Expira en: {{ item.ex_date }}</p>

            {% if item.uses %}
            <p class="card-text">Usos: {{ item.uses }}</p>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <button type="button" class="btn btn-primary" data-title="Confirmación de uso"
                    data-message="¿Deseas usar el producto {{ item.product.name }} (Esta acción es irreversible)?"
                    onclick="showConfirm(this)">
                    Usar
                </button>
            </form>
            {% endif %}
        </div>
    </div>

    {% empty %}
    No tienes productos en tu inventario.
    {% endfor %}
</section>

<div>
    <a href="{% url 'house_stats' %}">Estadísticas de la casa</a>

    <a href="{% url 'edit_profile' %}">Editar perfil</a>

    <a href="{% url 'update_password' %}">Cambiar contraseña</a>

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="button" class="btn btn-secondary btn-logout" data-title="Confirmación de cierre de sesión"
            data-message="¿Está seguro de que desea cerrar la sesión activa?" onclick="showConfirm(this)">
            Cerrar sesión
        </button>
    </form>
</div>

{% include "components/confirm_modal.html" %}
{% include "components/usage_modal.html" %}

{% if messages %}
{% include "components/success_modal.html" %}
{% endif %}

<script src="{% static 'js/confirmLogic.js' %}"></script>
<script src="{% static 'js/usageModal.js' %}"></script>
<script src="{% static 'js/successModal.js' %}"></script>

{% endblock %}