{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Profile</title>

{% endblock %}
{% block body %}

<main>
    <h2>Cambiar contraseña</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" class="btn btn-primary" data-title="Cambio de contraseña"
            data-message="¿Desea actualizar su contraseña?" onclick="showConfirm(this)">
            Actualizar contraseña
        </button>
    </form>

    {% include "components/confirm_modal.html" %}
</main>

<script src="{% static 'js/confirmLogic.js' %}"></script>

{% endblock %}